.photos-missing {
    height: 50%;
    width: 50%;
}

label .display-user {
    font-size: 36px;
}

select {
  height: 30px;
}

ul li {
  font-size: 12px;
  font-weight: bold;
}

input.approve-button {
  float: right;
}

.button.update-button {
  color: white !important;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
